<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <base href="../../"/>
    <title>华夏E家保</title>
    <link href="gv/common/css/reset.css" rel="stylesheet" type="text/css">
    <link href="gv/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="gv/ranker/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--<div class="combox" id="app" v-cloak>-->
        <!---->
    <!--</div>-->
    <button onclick="page()" style="width: 200px;height: 200px;background-color:red;">点击</button>
</body>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<script>
    function page(){
        alert(11111);
        wx.miniProgram.navigateTo({
            url: 'pages/index/index'
        })
    }
</script>
<!--<script type="text/javascript" src="gv/common/js/jquery-1.9.1.min.js"></script>-->
<!--<script type="text/javascript" src="gv/common/js/vue.js"></script>-->
<!--<script type="text/javascript" src="gv/common/js/main.js"></script>-->
<!--<script type="text/javascript" src="gv/common/js/weChat_share_nosave.js"></script>-->
<!--<script type="text/javascript" src="gv/ranker/js/ranker.js"></script>-->
</html>
